{% extends "main.html" %}

{% block content %}

</br>
<div class="whatever" style="font-size:90%;color:#acacac;">
    <div><img src='https://ca.slack-edge.com/ESZCHB482-U02B6ADQRFT-6f9720535840-512' width="117" height="128"></div>
    <div style="width:800px;padding:20px;">
        <p style="text-align:left"><u>Michael Petrus</u></br>
        About:  Commercial insurance professional turned data scientist and developer. 
        I am exploring all the incredible things that can be done with python, its related libraries, and SQL.  
        I hope you enjoy the application built by this excellent team.</p>
    </div>
</div>
</br>
<div class="whatever" style="font-size:90%;color:#acacac;">
    <div><img src='https://ca.slack-edge.com/ESZCHB482-U02E23DJ8N5-88f9ae156b8e-512' width="117" height="128"></div>
    <div style="width:800px;padding:20px;">
        <p style="text-align:left"><u>Dagim Bantikassegn</u></br>
        About: Born in Addis Ababa, Ethiopia, I moved to the United States when I was 5 years old.
        A proud Wake Forest University alumnus with a BA in Physics, but a proud data scientist at
        heart looking to always expand my knowledge of python and data analysis.</p>
    </div>
</div>
</br>
<div class="whatever" style="font-size:90%;color:#acacac;">
    <div><img src='https://ca.slack-edge.com/ESZCHB482-U02BFQDT9EE-e8a4c4b18c90-512' width="117" height="128"></div>
    <div style="width:800px;padding:20px;">
        <p style="text-align:left"><u>Michael Tran</u></br>
        About: I've been dabbling in code, computers, and a random assortment of things that have 
        piqued my interest my whole life. If you're interested in checking out other things 
        <a href="https://cocobits.net/"> here.</a> I am the IRL version of Prince of Tennis...</p>
    </div>
</div>
</br>
<div class="whatever" style="font-size:90%;color:#acacac;">
    <div><img src='https://ca.slack-edge.com/ESZCHB482-W011K9LUUFR-b17fc873f906-512' width="117" height="128"></div>
    <div style="width:800px;padding:20px;">
        <p style="text-align:left"><u>Edd Burke</u></br>
        About: My robe is comfier than yours.</p>
    </div>
</div>
</br>
<div class="whatever" style="font-size:90%;color:#acacac;">
    <div><img src='https://ca.slack-edge.com/ESZCHB482-U02CDV2FCB0-b0bf9ec5f85f-512' width="117" height="128"></div>
    <div style="width:800px;padding:20px;">
        <p style="text-align:left"><u>Adam Vu</u></br>
        About: I began my life as a prince of the Holy Britannia Empire. I was seventeenth in
        line for the throne before my mother was assassinated and sister crippled. Furious, I 
        renounced my title title to the throne in a fit of rage. I was banished to Japan where
        I was used as a political hostage, and decided I would find the truth behind my mother's
        death. So, of course, I became a vigilante named Zero and created a rebellion against
        the Holy Britannia Empire.</p>
    </div>
</div>
</br>
<div class="whatever" style="font-size:90%;color:#acacac;">
    <div><img src='https://ca.slack-edge.com/ESZCHB482-U02EVKR74NQ-79031ea3e785-512' width="117" height="128"></div>
    <div style="width:800px;padding:20px;">
        <p style="text-align:left"><u>Jonathan McGraw</u></br>
        About: I'm slowly losing my sanity... Send help... and snacks.</p>
    </div>
</div>
</br>
</br>
<div class="whatever" style="font-size:90%;color:#acacac;">
    <div><img src='https://ca.slack-edge.com/ESZCHB482-U02B8M7E06S-c853e09ee0b5-512' width="117" height="128"></div>
    <div style="width:800px;padding:20px;">
        <p style="text-align:left"><u>Sir Joshua Dempsey</u></br>
        About: I should have been here.</p>
    </div>
</div>
</br>

{% endblock %}
